<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.purosurf.minibar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_puro_surf"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_puro_surf_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniBar">
        <activity
            android:name=".Vista.Administrador.GestionProductos.ActualizarProductos"
            android:exported="false" />
        <activity
            android:name=".Vista.Administrador.GestionProductos.DeshabilitarProductos"
            android:exported="false" />
        <activity
            android:name=".Vista.Administrador.GestionProductos.SeleccionarProducto"
            android:exported="false" />
        <activity
            android:name=".Vista.Administrador.GestionProductos.ConfirmarDetalleProducto"
            android:exported="false" />
        <activity
            android:name=".Vista.Administrador.GestionProductos.AdicionarProductos"
            android:exported="false" />
        <activity
            android:name=".Vista.Administrador.GestionProductos.GestionarProductos"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Vista.SplashActivity_Vista"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vista.Empleado.DetalleConfirmarConsumo"
            android:exported="false" />
        <activity
            android:name=".Vista.AdministradorEmpleado.GestionarInventarios"
            android:exported="false" />
        <activity
            android:name=".Vista.InicioSesion.IniciarSesion"
            android:exported="true" />
        <activity
            android:name=".Vista.Empleado.MenuEmpleado"
            android:exported="false" />
        <activity
            android:name=".Vista.InicioSesion.RecuperarCuenta"
            android:exported="false" />
        <activity
            android:name=".Vista.InicioSesion.ReestablecerContrasena"
            android:exported="false" />
        <activity
            android:name=".Vista.Empleado.RegistrarConsumos"
            android:exported="false" />
        <activity
            android:name=".Vista.Administrador.SeleccionarGestion"
            android:exported="false" />
        <activity
            android:name=".Vista.Empleado.SeleccionarHabitacion"
            android:exported="false" />
    </application>

</manifest>